.popup {
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  position: fixed;
  top: 35%;
  left: 35%;
  /* right: 0;
  left: 630px;
  bottom: 0;
  top: 300px; */
  display: none;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .popup {
    top: 30%;
    left: 30%;
  }
}
@media screen and (max-width: 860px) {
  .popup {
    left: 25%;
  }
}
@media screen and (max-width: 791px) {
  .popup {
    left: 20%;
  }
}
@media screen and (max-width: 740px) {
  .popup {
    left: 15%;
  }
}
@media screen and (max-width: 700px) {
  .popup {
    left: 10%;
  }
}
@media screen and (max-width: 653px) {
  .popup {
    max-width: 288px;
    min-height: 322px;
  }
}
@media screen and (max-width: 578px) {
  .popup {
    max-width: 188px;
    min-height: 122px;
  }
}
@media screen and (max-width: 500px) {
  .popup {
    max-width: 50px;
    min-height: 30px;
  }
}
