.element__heart_active {
  background-image: url(../../../../images/blackHeart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  /* font: inherit;
  color: inherit; */
  background-color: transparent;
  width: 22px;
  height: 19px;
  z-index: 3;
  cursor: pointer;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
  color: black; /* новый код */
  opacity: 1;
  transition: ease 0.1s;
}
