.popup__button {
  margin-left: 125px;
  margin-top: 13px;
  max-width: 109px;
  min-height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #000000;
  border: none;
  outline: none;
}
