.popup__button {
  margin-left: 125px;
  margin-top: 13px;
  width: 109px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #000000;
  border: none;
  outline: none;
}
@media screen and (max-width: 641px) {
  .popup__button {
    max-width: 74px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 83.5px;
  }
}
