.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: contain;
}
@media screen and (max-width: 660px) {
  .profile__avatar {
    margin-left: 28%;
  }
}
