.footer__author {
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  display: block;
  max-width: 318px;
  margin: 0;
}
@media screen and (max-width: 321px) {
  .footer__author {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
