.profile__info {
  max-width: 300px;
  color: white;
}
@media screen and (max-width: 660px) {
  .profile__info {
    width: 189px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
