.footer {
  max-width: 318px;
  margin-left: 17%;
}
@media screen and (max-width: 641px) {
  .footer {
    margin-left: 25%;
  }
}
@media screen and (max-width: 321px) {
  .footer {
    margin-top: 48px;
    margin-left: 19px;
  }
}
